*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
}
h1{
  color: cornflowerblue;
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  & p {
    color: rgb(9, 167, 167);
  }
}